<div class="container mt-2">
    <div class="row">
      <div class="btn-group">
        <button class="btn btn-dark" 
                [(ngModel)]="category" 
                btnRadio="0" 
                (click)="loadRecipes()">
          Śniadanie
        </button>
        <button class="btn btn-dark" 
                [(ngModel)]="category" 
                btnRadio="1" 
                (click)="loadRecipes()">
          Obiad
        </button>
        <button class="btn btn-dark" 
                [(ngModel)]="category" 
                btnRadio="2" 
                (click)="loadRecipes()">
          Kolacja
        </button>
        <button class="btn btn-dark" 
                [(ngModel)]="category" 
                btnRadio="3" 
                (click)="loadRecipes()">
          Przekąski
        </button>
      </div>
    </div>
  
    <div class="row justify-content-center mt-3 mb-5" *ngIf="recipes.length == 0">
      <h3>Brak przepisów</h3>
    </div>
  
    <div class="row mt-3" *ngIf="recipes.length > 0">
        
    </div>      
  </div>
  
  <div class="d-flex justify-content-center">
      <pagination [boundaryLinks]="true"
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>