<div class="container mt-5">
  <div *ngIf="!registerMode && !remindMode" style="text-align: center">
    <h1>Przepisowo</h1>
    <p *ngIf="!loggedIn()" class="lead">Rarejestruj się!</p>
    <div class="text-center">
      <button *ngIf="!loggedIn()" class="btn btn-primary btn-lg mr-3" (click)="registerToggle()">Rejestracja</button>
      <button *ngIf="!loggedIn()" class="btn btn-info btn-lg" (click)="remindToggle()">Nie pamiętam hasła</button>
    </div>
  </div>
  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
  <div *ngIf="remindMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-remin-password (cancelRemind)="cancelRemindMode($event)"></app-remin-password>
      </div>
    </div>
  </div>
</div>
