<div class="modal-body text-center">
  <form class="center" [formGroup]="shoppingListForm" (ngSubmit)="addShoppingList()">
    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal.emit(null)">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="text-center text-primary">Dodaj listę zakupów</h2>
    <hr>
  
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Nazwa listy" formControlName="name"
        [ngClass]="{'is-invalid': shoppingListForm.get('name').errors && shoppingListForm.get('name').touched}">
        <div class="invalid-feedback"
        *ngIf="shoppingListForm.get('name').hasError('required') && shoppingListForm.get('name').touched">
        Podaj nazwę listy</div>
      <div class="invalid-feedback"
        *ngIf="shoppingListForm.get('name').hasError('maxlength') && shoppingListForm.get('name').touched">
          Nazwa nie może mieć więcej niż 50 znaków
      </div>
    </div>
  
    <label>Produkty</label>
    <div class="form-group">
      <button type="button" class="btn btn-primary mb-2 mt-2" (click)="addProd()">Dodaj produkt</button>
        <div formArrayName="products" *ngFor="let item of shoppingListForm.controls.products?.value; let i = index; trackBy:trackByFn">          
          <div [formGroupName]="i">
            <div class="row">
              <div class="col-4">
                <input type="text" class="form-control mb-2" placeholder="nazwa" formControlName="name"
                maxlength="30" required>                  
              </div>
              <div class="col-3">
                <input type="number" class="form-control mb-2" placeholder="ilość" formControlName="count"
                min="1" required>
              </div>
              <div class="col-3">
                <select formControlName="unit" class="form-control mb-2" required>
                  <option disabled selected>wybierz</option>
                  <option value=0>gramy</option>
                  <option value=1>ilość</option>
                  <option value=2>mililitry</option>
                  <option value=3>łyżki</option>
                  <option value=4>łyżeczki</option>
                  <option value=5>szklanki</option>
                  <option value=6>szczypty</option>
                </select>
              </div>
              <div class="col-1">
                <button type="button" (click)="deleteProd(i)" tooltip="Usuń produkt" placement="top" class="btn btn-warning btn-sm mb-2">
                  <i class="fa fa-trash"></i>
                </button> 
              </div>
            </div>
          </div>
        </div>
      
    </div> 
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit" [disabled]="!shoppingListForm.valid">
        Dodaj listę
      </button>
    </div> 
  </form>
  
</div>
