.img {
    margin: 15px;
}

.cnt {
    margin: auto;
}

.preparation {
    white-space: pre-line;
    min-height: 200px;
    text-align: justify;
    text-justify: inter-word;
}

.area {
    padding: 15px;
    border: 1px solid silver;
    border-radius: 3px;
}